/*
SENG 513 Assignment 2
Lab B04
File Name: style.css
Author: Sara Khan
UCID: 30024461
Due Date: October 18, 2020

University of Calgary
*/

body {
    font-family: sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

p{
    margin: 0;
}

select{
    border-radius: 5px; 
    cursor: pointer;
    font-size: 14px;
    width: 17%;
}

.flexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.flexCol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#gameHeader{
    width: 100vw;
    max-width: 800px;
    color: white;
    font-size: 16px;
    margin: auto;
    margin-top: 1%;
    background-color: #4a752c;
    padding: 2.5px;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}


#gameContainer{
    width: 100vw;
    max-width: 800px;
    height: 100vw;
    max-height: 90vh;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    margin: auto;
}

.row{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cell{
    min-width: 20%;
    max-width: 20%;
    min-height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.firstclick{
    cursor: pointer;
}

.covered{
    cursor: pointer;
}

.row:nth-child(even) .cell:nth-child(even) {
    background-color:#d7b899;
}
.row:nth-child(even) .cell:nth-child(odd) {
    background-color: #e5c29f;
}
.row:nth-child(odd) .cell:nth-child(even) {
    background-color: #e5c29f;
}
.row:nth-child(odd) .cell:nth-child(odd) {
    background-color:#d7b899;
}

.row:nth-child(even) .firstclick:nth-child(even) {
    background-color: #a2d149;
}
.row:nth-child(even) .firstclick:nth-child(odd) {
    background-color: #aad751;
}
.row:nth-child(odd) .firstclick:nth-child(even) {
    background-color: #aad751;
}
.row:nth-child(odd) .firstclick:nth-child(odd) {
    background-color:#a2d149;
}

.row:nth-child(even) .covered:nth-child(even) {
    background-color: #a2d149;
}
.row:nth-child(even) .covered:nth-child(odd) {
    background-color: #aad751;
}
.row:nth-child(odd) .covered:nth-child(even) {
    background-color: #aad751;
}
.row:nth-child(odd) .covered:nth-child(odd) {
    background-color:#a2d149;
}

#gameOver{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 100%;
    color: yellow;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 33px;
}

.button{
    width: 20%;
    padding: 10px;
    background-color: #a2d149;
    color:  white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover{
    background-color: #4a752c;
    color: white;
}


#endMessage{
    margin-bottom: 5px;
    padding: 5px;
}

#finalTime{
    margin-bottom: 5px;
    padding: 5px;
    align-items: flex-start;
    
}




